@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


/* Width for both vertical and horizontal scrollbars */
::-webkit-scrollbar {
    width: 4px;
    /* For vertical scrollbar */
    height: 4px;
    /* For horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cca53b;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cca53b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bd9f4d;
}